################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ndx/v17
/ndx/.vs/ndx
/ndx/x64/Debug
/.DS_Store
/._.DS_Store
